warnings_are_errors: false
branches:
  only:
    - main
language: node_js
node_js:
  - 14
#cache:
#  directories:
#   - node_modules
install:
  - yarn install
script:
  - yarn build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: build
  on:
    branch: main